@import 'variables';

.card-course-item {
  margin-top: 16px;
}

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px;
}

.brand-avatar {
  width: 48px;
  height: 48px;
  border-radius: 10%;
  margin-right: 4px;
  margin: 0px;
}

