<!-- Footer -->
<footer class="page-footer font-small bg-warning pt-5 mt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-left text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3 pl-5">

                <!-- Content -->
                <h5 class="text-uppercase">Học Lập Trình Để Đi Làm</h5>
                <p>Điện thoại: 0376730996</p>
                <p>Email: 1751012027hong@ou.edu.vn</p>
                <p>Địa chỉ: 76 Nguyễn Tư Giãn, P.12, Q.Gò Vấp, TP.HCM</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Sản Phẩm</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Game Nester</a>
                    </li>
                    <li>
                        <a href="#!">Game CSS Diner</a>
                    </li>
                    <li>
                        <a href="#!">Game CSS Selectors</a>
                    </li>
                    <li>
                        <a href="#!">Game Froggy</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Công cụ</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Tạo CV xin việc</a>
                    </li>
                    <li>
                        <a href="#!">Rút gọn liên kết</a>
                    </li>
                    <li>
                        <a href="#!">Clip-path maker</a>
                    </li>
                    <li>
                        <a href="#!">Snippet generator</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2023:
        <a href="/"> H8. Nền tảng học lập trình hàng đầu Việt Nam</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->